body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;

}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;

    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;

    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;

}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;

}

.sidebar .nav-link.active {
    color: #007bff;

}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;

}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;

}
.input-group .input-group-addon {
    background-color: transparent;
    border-radius: 0;
    border-right-width: 0;
    border-color: gray;

}
.flatRed {
    background-color: gray;
}
.flatGreen {
    background-color: gray;
}

.dashboard-stats {
    background-color: lightgrey;
    position: relative;
    min-height: 107px;
    padding: 3px;
    padding-left: 5%;
    border-radius: 2px;
    display: table;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;

}

@media only screen and (max-width: 767px) {
    .top-bar img.flag_img {
        width: 20px !important;
    }
    .top-bar .search {
        margin: 10px auto;
    }
    .top-bar .search input {
        height: 30px;
    }
    .top-bar .info-number.bell {
        background-color: #fb5d5d;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1400px) {
    .dashboard-stats .left {
        float: left;
        padding-top: 5px;

    }
    .dashboard-stats .left h3 {
        font-size: 20px;

    }
    .dashboard-stats .left h4 {
        font-size: 14px;

    }
    .dashboard-stats .right {
        position: absolute;
        right: 3px;
        top: 3px;
        width: 40%;
        bottom: 3px;
        border-radius: 2px;
        font-size: 38px;
        text-align: center;
        color: #FFFFFF;

    }
    .dashboard-stats .right i {
        vertical-align: middle;
        line-height: 107px;
    }
}


#to-align{
    margin-top: 10px;

}
